@media (min-width: 319.98px) and (max-width: 565.98px) {
    #publicidade-interna {
        .publicidade-lateral {
            .img-full {
                padding: 0px;
                display: block;
                height: auto;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: unset;
                }
            }

            .img-1 {
                padding: unset;
                display: block;
                height: auto;
                padding-right: 7.5px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .img-2 {
                padding: unset;
                display: block;
                height: auto;
                margin-top: 0px;
                padding-left: 7.5px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (min-width: 566.98px) and (max-width: 997.98px) {
    #publicidade-interna {

        .publicidade-lateral {

            .img-full {
                padding: 0px;
                display: block;
                height: auto;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: unset;
                }
            }

            .img-1 {
                padding: unset;
                display: block;
                height: auto;
                padding-right: 7.5px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .img-2 {
                padding: unset;
                display: block;
                height: auto;
                margin-top: 0px;
                padding-left: 7.5px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}