#anuncie {
  .title {
    font-size: 38px;
    font-weight: 600;
  }
  form {
    padding: 0 5% 0 0 !important;
    margin-top: 25px;
    input, select, textarea{
      // border-radius: 0;
    }
    .bg-success, .bg-danger{
      padding: 15px;
      display: none;
    }
  }
}
