@font-face {
  font-family: Sansa Pro;
  src: url('../vendor/fonts/SansaPro-Normal.otf');
}

nav.top-menu {
  font-family: $font-default;
  max-height: 50px !important;
  background-color: $nav-black;
  border-radius: 0px !important;

  .navbar-header {
    .navbar-brand {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .navbar-collapse {
    padding: 0px;

    ul {
      max-height: 50px;

      li {
        max-height: 50px;

        a {
          max-height: 50px;
        }

        .fa-facebook-square {
          color: #fff;
        }

        .fa-instagram {
          color: #fff;
        }

        .fa-twitter-square {
          color: #fff;
        }

        a.menu {
          font-size: 14px;
          color: #fff;
          font-weight: 700;

          &:focus {
            background-color: #fff0 !important;
          }

          &:hover {
            background-color: #fff0 !important;
          }
        }
      }
    }
  }
}

.central-menu {
  padding-bottom: 15px;

  .container {
    padding: 0px;

    .previsao {
      img {
        float: left;
        width: 50px;
        margin-right: 15px;
      }

      .info {
        .title {
          font-size: 20px;
          font-weight: 800;
          color: #4B4B4B;
          text-transform: uppercase;
        }

        p {
          color: #838383;
          font-weight: 600;
          font-size: 12px;

          .min,
          .max {
            font-size: 18px;
            font-weight: 400;
            margin-right: 10px;
          }
        }
      }
    }

    .box-radar {
      .title-radar {
        font-size: 14px;
        font-weight: 800;
        color: #4B4B4B;
        text-transform: uppercase;
        margin: 0 0 5px;
      }

      .rua {
        color: #838383;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}

.bottom-menu {
  nav {
    border-top: 1px solid #ccc;
    box-shadow: 0 6px 10px #f5f5f5;
    background-color: #fff;

    .container {
      padding: 0px;

      .navbar-collapse {
        .nav {
          li {
            &.anuncie {
              background-color: $amarelo;
              margin-right: 15px;

              a {
                font-size: 14px;
                font-weight: 800;
              }
            }

            a {
              color: #1b1b1b;
              font-size: 14px;
              font-weight: 700;

              &:hover {
                background-color: rgba(0, 0, 0, 0);
                color: $azul;
              }

              &:focus {
                background-color: rgba(0, 0, 0, 0);
                color: $azul;
              }
            }
          }

          .dropdown {
            ul {
              &.dropdown-menu {
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: .456s ease-in-out;

                li {
                  a {
                    font-weight: 500;

                    &:hover {
                      background-color: $azul;
                      transition: all .10s ease-in;
                      color: #fff;
                    }
                  }
                }
              }

              &.noticias {
                width: 500px;
              }
            }
          }
        }
      }
    }
  }
}

.nav-mobile {
  .navbar {
    margin-bottom: 0px;

    .navbar-header {
      .navbar-toggle {
        border: none;
      }

      .navbar-brand {
        img {
          height: 25px;
          filter: brightness(0) invert(1);
        }
      }
    }

    .nav {
      .menu {
        color: #fff !important;
      }

      .grupo-etiqueta {
        li {
          a {
            label {
              color: #fff;
              margin-bottom: 0px;
              margin-left: 10px;
              font-weight: 500;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
